
li:hover{
	 background: repeating-linear-gradient(to right,blue,green, red 80%);
	color: white;
}

.setImageBooksBlue {
	margin-top: 5px;
	margin-right: 10px;
	width: 100px;
	height: 100px;
	}

.setImageBooks {
	margin-top: 5px;
	margin-right: 10px;
	width: 100px;
	height: 100px;
	}

 .loggedAndCreateButton {
  margin-top: 20px;
  	margin-left: 550px;
  	margin-bottom: 20px;
 background-color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px 14px 32px 0px rgba(0,0.2,0,0.8);
  text-shadow: 1px 1px 3px yellow;
  color: green;
  cursor: pointer;
 }

  .questionMarkImagesProperties{
  	margin-top: 100px;
  	margin-left: 550px;
  
  }

  .loggedScreenTextBottom{
  	margin-top: 20px;
  	margin-left: 550px;
    text-shadow: 3px 3px 5px red;
  }

.active {
		background-color: yellow;
		color: black;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.8);
  text-shadow: 1px 1px 3px black;
  font-size: 18px;
 
	}


	.addLogoAccounts{
	margin-top: 150px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
	text-align: center;
	float: left;
	font-size: 34px;
	width: 300px;
	height: 100px;
	color: white;
	 background: repeating-linear-gradient(to right,pink,blue,purple,white,red 50%);
    font-style: italic;
    border-radius: 70px / 70px;
    text-decoration-line: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    text-shadow: 4px 4px 6px purple;
    
	}

	.frameAssignOLListSwiftUI{
		width: 1050px;
	}


	.frameworkSwiftUI{
	margin-top: 30px;
	margin-left: 90px;
	margin-right: 100px;
	text-align: center;
	font-size: 18px;
	width: 150px;
	height: 50px;
	color: black;
	background-color: gray;
    font-style: italic;
    border-radius: 70px / 70px; 
    text-decoration-line: none;
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.8);
    text-shadow: 3px 3px 5px white;
	}

    .searchBarPropertyApple{
    margin-top: 20px;
    margin-left: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0.9,0,0.8);

    }
	.spaceImageNavigationBarLeft{
		margin-top: 12px;
		margin-left: 100px;

	}
   .spaceNavigationBar {
   	margin-top: 5px;
	margin-right: 100px;
	color: white;
	font-size: 44px;
	font-style: italic;
	text-shadow: 3px 3px 5px white;
   }

p.myImages {
	margin-top: 30px;
	margin-right: 130px;
	margin-left: 1050px;
	width: 200px;
	height: 40px;
	text-align: center;
	color: white;
	background-color: purple;
    font-size: 34px;
    font-style: italic;
    border-radius: 44px / 44px;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    text-shadow: 3px 3px 5px yellow;
	}

h2.headerFreeKnowedge {
	margin-top: 40px;
	margin-left: 150px;
	margin-right: 150px;
	background-color: black;
	color: white;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
	text-shadow: 3px 3px 5px yellow;
}

h1.headerSwiftBaseKnowledge {
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 300px;
	font-size: 64px;
	text-align: center;
	color:  white;
    font-style: italic;
    border-radius: 44px / 44px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6); 
    text-shadow: 2px 2px 4px blue;
    background: repeating-linear-gradient(to right,red,yellow,blue,green,purple,pink,red,green,yellow,orange,pink,blue,white,red 10%);
}

ul {
  list-style-type: none;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

  li a.applyNavigationBarHover:hover {
  background-color: yellow;
  color: red;
}